@import "variables";
@import "mixin";

html{
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

*, *::before, *::after { 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: $red;
    background-image: url(bg-intro-desktop.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution{
    margin-top: auto;
}

.grid{
    margin: auto 164px;
    display: flex;
    row-gap: 25px;
    height: auto;
    @include breakpoint-down(medium){
        flex-direction: column;
        margin: 20px;
    }
}

.grid__left{
    margin: auto;
    flex: 1;
    @include breakpoint-down(medium){
        text-align: center;
    }
    h1{
        font-size: 56px;
        line-height: 1;
        margin-bottom: 25px;
        @include breakpoint-down(medium){
            font-size: 30px;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 80px;
        }
    }
    p{
        @include breakpoint-down(medium){
            font-size: 17px;
            margin-bottom: 70px;
        }
    } 
}
.grid__right{
    height: 500px;
    flex: 1;
    &__trial{
        
        background-color: $blue;
        border-radius: 12px;
        display: grid;
        justify-content: center;
        align-content: center;
        margin-bottom: 30px;
        text-align: center;
        height: 62px;
        box-shadow: 1px 9px 0px -1px $darkBluea;
        @include breakpoint-down(medium){
            height: 90px;
            padding-left: 80px;
            padding-right: 80px;
        }

    }
    &__form{
        
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 40px;
        padding-top: 18px;
        border-radius: 12px;
        box-shadow: 1px 9px 0px -1px $darkBluea;
       @include breakpoint-down(medium){
           padding: 25px;
           padding-top: 0px;
       }
        
        .input_box{
            position: relative;
            width: auto;
        }
        input{
            outline: none;
            height: 54px;
            width: 100%;
            padding-left: 30px;
            border-radius: 5px;
            border: solid 1px $grayishBlue;
            font-weight: 500;
            font-size: 14px;
            margin-top: 22px;
            
            &:focus{
                border: solid 2px $darkBlue;
            }           
        }
        .error_icon{
            width: 24px;
            height: 24px;
            background-image: url(icon-error.svg);
            position: absolute;
            left: 100%;
            transform: translate( -40px, -40px);
            display: none;
        }
        .error_icon.visible{
            display: block;
        }
        .validation-error{
            color: $red;
            text-align: end;
            display: none;
            
        }
        .validation-error.visible{
            display: block;
        }
        button{
            background-color: $green;
            height: 54px;
            margin-bottom: 10px;
            border: none;
            color: white;
            text-transform: uppercase;
            border-radius: 5px;
            font-weight: 700;
            font-size: 14px;
            margin-top: 22px;
            
            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
            &:active{
                box-shadow: 0px 0px 0px 5px rgba(62, 60, 73, 0.4) inset;
            }
        }
        .license_agreement{
            text-align: center;
            color: $grayishBlue;
            font-weight: 400;
            font-size: 12px;
            a{
                color: $red;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}
